header {
  transition: all 0.5s; }

@media screen and (max-width: 480px) {
  #container {
    width: 100%;
    height: 100%;
    background-image: url(../img/sky/cloud.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }

  #wrap {
    background-color: rgba(51, 51, 51, 0.7); }

  #web_head {
    width: calc(100% - 16vw);
    height: 15vh;
    margin: 0 8vw;
    border-bottom: 0.3px solid #fff;
    box-sizing: border-box; }
    #web_head h1 {
      width: 70%;
      height: 100%;
      padding-left: 10vw;
      box-sizing: border-box;
      float: left; }
      #web_head h1 a {
        width: 100%;
        height: 100%;
        display: block; }
        #web_head h1 a strong {
          width: 100%;
          height: 100%;
          display: block;
          box-sizing: border-box;
          line-height: 20vh;
          font-size: 1.8em;
          text-align: left;
          color: #fff;
          font-weight: bold;
          float: left; }
        #web_head h1 a span {
          display: block; }
    #web_head #nav {
      width: 100%;
      height: 0;
      float: left;
      position: relative; }
      #web_head #nav > h3 {
        width: 15%;
        height: 15vh;
        box-sizing: border-box;
        font-size: 2.5em;
        text-align: right;
        transition: all 0.5s ease;
        position: absolute;
        z-index: 100;
        top: -15vh;
        right: 10vw; }
        #web_head #nav > h3 > i {
          width: 100%;
          height: 100%;
          display: block;
          color: #fff;
          font-weight: bold;
          line-height: 19vh; }
        #web_head #nav > h3 > span {
          display: none; }
      #web_head #nav > h3.on {
        transform: rotate(45deg); }
        #web_head #nav > h3.on > i {
          color: #FF7777; }
      #web_head #nav ul {
        width: 100vw;
        height: 0;
        position: absolute;
        top: -30vw;
        left: -8vw;
        z-index: 5;
        background-color: rgba(51, 51, 51, 0.9);
        opacity: 0;
        transition: all 0.5s; }
        #web_head #nav ul > li {
          width: 100%;
          height: 0;
          float: left;
          padding: 8vw 20vw 0;
          box-sizing: border-box;
          opacity: 0; }
          #web_head #nav ul > li:first-of-type {
            margin-top: 20vw; }
          #web_head #nav ul > li.on > a > span {
            color: #FF7777;
            text-shadow: 1px 2px 4px #444; }
          #web_head #nav ul > li a {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0;
            border-bottom: 0.3px solid #fff; }
            #web_head #nav ul > li a span {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 5vw;
              color: #fff;
              font-weight: bold;
              opacity: 0; }
              #web_head #nav ul > li a span:hover {
                color: #FF7777;
                text-shadow: 1px 2px 4px #444; }
      #web_head #nav ul.pop {
        height: 100vh;
        opacity: 1; }
        #web_head #nav ul.pop > li {
          opacity: 1;
          height: 12%; }
          #web_head #nav ul.pop > li > a {
            opacity: 1; }
            #web_head #nav ul.pop > li > a > span {
              opacity: 1; }

  #content {
    width: 100%;
    height: auto;
    padding: 10vw 12vw;
    box-sizing: border-box; }
    #content .resume {
      width: 100%;
      height: auto; }
      #content .resume > img {
        width: 100%;
        display: block;
        margin: 5vw 0; }

  #web_foot {
    width: calc(100% - 16vw);
    height: 14vh;
    margin: 2vh 8vw 0;
    padding-top: 4vw;
    padding-left: 4vw;
    border-top: 0.3px solid #fff;
    box-sizing: border-box; }
    #web_foot p {
      width: 100%;
      height: 50%;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.9em;
      color: #fff; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  #container {
    width: 100%;
    height: auto;
    background-image: url(../img/sky/blue_sky.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }

  #wrap {
    background-color: rgba(51, 51, 51, 0.7); }

  #web_head {
    width: calc(100% - 12vw);
    height: 20vw;
    margin: 0 6vw;
    padding-top: 2vw;
    box-sizing: border-box; }
    #web_head h1 {
      width: 100%;
      height: 50%;
      padding-left: 4vw;
      padding-right: 40%;
      border-bottom: 0.3px solid #fff;
      box-sizing: border-box;
      float: left; }
      #web_head h1 a {
        width: 100%;
        height: 100%;
        display: block; }
        #web_head h1 a strong {
          width: 40%;
          height: 100%;
          display: block;
          box-sizing: border-box;
          line-height: 9vw;
          font-size: 1.6em;
          color: #fff;
          font-weight: bold;
          float: left; }
        #web_head h1 a span {
          width: 60%;
          height: 100%;
          display: block;
          text-align: left;
          line-height: 9vw;
          font-size: 1.1em;
          color: #ddd;
          font-weight: bold;
          float: left; }
    #web_head #nav {
      width: 100%;
      height: 50%;
      float: left;
      position: relative; }
      #web_head #nav ul {
        width: auto;
        height: 100%;
        padding-top: 1vw;
        box-sizing: border-box;
        position: absolute;
        right: 4vw; }
        #web_head #nav ul li {
          width: auto;
          height: 100%;
          float: left;
          margin-left: 2vw; }
          #web_head #nav ul li.on > a > span {
            color: #FF9A9A;
            text-shadow: 1px 2px 4px #444; }
          #web_head #nav ul li a {
            width: 100%;
            height: 100%;
            display: block; }
            #web_head #nav ul li a span {
              width: 100%;
              height: 100%;
              display: block;
              line-height: 9vw;
              text-align: right;
              font-size: 1em;
              color: #fff;
              font-weight: bold; }
              #web_head #nav ul li a span:hover {
                color: #FF9A9A;
                text-shadow: 1px 2px 4px #444; }

  #content {
    width: 100%;
    height: auto;
    padding: 8vw 12vw;
    box-sizing: border-box; }
    #content .resume {
      width: 100%;
      height: auto; }
      #content .resume > img {
        width: 100%;
        display: block; }
        #content .resume > img:first-child {
          margin-bottom: 3vw; }

  #web_foot {
    width: calc(100% - 12vw);
    height: 20vw;
    margin: 3vw 6vw 0;
    padding: 4vw;
    border-top: 0.3px solid #fff;
    box-sizing: border-box; }
    #web_foot p {
      width: 100%;
      height: 50%;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.9em;
      color: #fff; } }
@media screen and (min-width: 769px) {
  #container {
    width: 100%;
    height: auto;
    background-image: url(../img/sky/sunset_.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }

  #wrap {
    background-color: rgba(51, 51, 51, 0.7); }

  #web_head {
    width: calc(100% - 12vw);
    height: 15vw;
    margin: 0 6vw;
    padding-top: 2vw;
    border-bottom: 0.3px solid #fff;
    box-sizing: border-box; }
    #web_head h1 {
      width: 40%;
      height: 100%;
      padding-left: 4vw;
      box-sizing: border-box;
      float: left; }
      #web_head h1 a {
        width: 100%;
        height: 100%;
        display: block; }
        #web_head h1 a strong {
          width: 40%;
          height: 100%;
          display: block;
          box-sizing: border-box;
          line-height: 13vw;
          font-size: 3vw;
          color: #fff;
          font-weight: bold;
          float: left; }
        #web_head h1 a span {
          width: 60%;
          height: 100%;
          display: block;
          text-align: left;
          line-height: 13vw;
          font-size: 2vw;
          color: #ddd;
          font-weight: bold;
          float: left; }
    #web_head #nav {
      width: 60%;
      height: 100%;
      float: right;
      position: relative; }
      #web_head #nav ul {
        width: auto;
        height: 100%;
        padding-top: 1vw;
        box-sizing: border-box;
        position: absolute;
        right: 4vw; }
        #web_head #nav ul li {
          width: auto;
          height: 100%;
          float: left;
          margin-left: 3.5vw; }
          #web_head #nav ul li.on > a > span {
            color: #FF9A9A;
            text-shadow: 1px 2px 4px #444; }
          #web_head #nav ul li a {
            width: 100%;
            height: 100%;
            display: block; }
            #web_head #nav ul li a span {
              width: 100%;
              height: 100%;
              display: block;
              line-height: 11vw;
              text-align: right;
              font-size: 1.8vw;
              color: #fff;
              font-weight: bold; }
              #web_head #nav ul li a span:hover {
                color: #FF9A9A;
                text-shadow: 1px 2px 4px #444; }
              #web_head #nav ul li a span.on {
                color: #FF9A9A;
                text-shadow: 1px 2px 4px #444; }

  #content {
    width: calc(100% - 16vw);
    height: 57vw;
    margin: 8vw; }
    #content .resume {
      width: 100%;
      height: 100%; }
      #content .resume > img {
        width: calc(50% - 1.5vw);
        display: block;
        float: left; }
        #content .resume > img:first-child {
          margin-right: 3vw; }

  #web_foot {
    width: calc(100% - 12vw);
    height: 16vw;
    margin: 0 6vw;
    padding: 4vw;
    border-top: 0.3px solid #fff;
    box-sizing: border-box; }
    #web_foot p {
      width: 100%;
      height: 50%;
      box-sizing: border-box;
      text-align: left;
      font-size: 1.8vw;
      color: #fff; } }

/*# sourceMappingURL=resume.css.map */
