// pc.scss

/*------------------pc (960px)-----------------*/
@media screen and (min-width: 769px) {
    #container{width: 100%; height: auto; overflow: hidden;        
         background-image: url(../img/pc_back.png);
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         background-position: center center;
    }
    #webHead{
        width: 100%; height: 160px;
        border-bottom: 10px solid $brown01;
        box-sizing: border-box;
        background-color: #fff;
        #gnb{width: 100%; height: 45px;
             padding: 8px 10px 6px 75%;
             box-sizing: border-box;
             background-color: $baseBeige;
            h2, span, legend, label{width: 0; height: 0; 
                display: block; overflow: hidden;}
            form{width: 100%; max-width: 200px; height: 100%; 
                 transition: all 0.5s;
                fieldset{width: 100%; height: 100%;}
                #search{width: 80%; height: 30px; 
                      border: 0;
                      border-bottom:2px solid $brown02;
                      box-sizing: border-box;
                      display: block;
                      float: left;
                      font-size: 1rem;}
                input{font-size: 1.5rem;}
                .fa-search{width: 20%; height: 30px;
                           display: block;
                           color: #fff; font-weight: bold;
                           text-align: center; line-height: 30px;
                           background-color: $brown02; 
                           float: left;}
            }// form
        }// #gnb
        #nav{max-width: 960px; min-width: 768px; height: 115px;
             margin: 0 auto; 
            h1{width: 19vw; min-width: 250px; height: 115px;
               padding: 10px 20px 0; 
               box-sizing: border-box; 
               float: left;
                a{width: 100%; height: 100%; display: block;
                  background-repeat: no-repeat;
                  background-position: top center;
                  background-size: contain; 
                  background-image: url("../img/index/header/Logo_tab.png");
                  overflow: hidden;
                }// a
               }// h1
            ul{max-width: 600px; min-width: 450px; height: 115px; 
               float: right; 
                li{width: auto; height: 30px;
                   margin: 60px 0.5vw 0;
                   padding: 5px 15px 20px;
                   float: left;
                    &:hover{background-color: $brown01;         
                        border-radius:6px; transition: all 1s;
                        a{color: #fff;}
                    }
                    &:active{background-color: $brown01;         
                        border-radius:6px; transition: all 1s;
                        a{color: #fff;}
                    }
                    a{width: 100%; height: 100%; display: block;
                      font-weight: bold; font-size: 1.2rem; color: $brown01; 
                      text-align: center; line-height: 50px;
                        &:hover{color: #fff;}
                    }// a
                    &.on{background-color: $brown01; border-radius: 6px;
                        a{color: #fff;}
                    }
                }// li
            }// ul
        }// #nav
    }// #webHead
    
    #subTitle{
       width: 100%; height: 15vw; min-height: 100px;
       transition: all 0.5s ease;
        h3{width: 100%; height: 100%; text-indent: 10vw; text-align: left; 
           font-size: 5vw; 
            a{width: 100%; height: 100%; display: block; 
              color: $brown01; font-weight: bold;
              line-height: 28vw;
              background-size: cover; transition: all 0.5s ease-in; 
              }// a
        }// h3      
    }// #subTitle
    #company{width: 100%; height: 71vw;
        background-color: rgba($brown01, 0.8);
        h4{width: 30vw; height: 15vw; display: block;
           margin: 0 auto;
           padding-top: 8vw; padding-bottom: 2vw;
           border-bottom: 1vw solid $beige; 
           box-sizing: border-box;
           text-align: center; line-height: 5vw;
           color: #fff; font-weight: bold;
           font-size: 1.5em;
        }// h4
        img{width: 35vw; display: block; 
            margin-top: 5vw; 
            margin-left: 5vw;
            box-sizing: border-box; float: left;
            box-shadow: 2px 2px 2px #555;
        }
        div{width: 51vw; height: 45vw; 
            margin-top: 2vw;
            margin-right: 3vw;
            padding: 4vw 3vw;
            box-sizing: border-box; float: right;
            overflow: hidden;
            p{width: 100%; height: 100%; 
              text-indent: 1em; overflow: scroll; font-size: 1.2em;
              padding-right: 1000px; padding-bottom: 1000px; color: #fff;
            }
        }
    }// #company 
    #history{width: 100%; height: 71vw;
        background-color: rgba(#fff, 0.8);
        h4{width: 30vw; height: 15vw; display: block;
           margin: 0 auto;
           padding-top: 8vw; padding-bottom: 2vw;
           border-bottom: 1vw solid $brown02; 
           box-sizing: border-box;
           text-align: center; line-height: 5vw;
           color: $brown01; font-weight: bold;
           font-size: 1.5em;
        }// h4
        img{width: 35vw; display: block; 
            margin-top: 5vw; 
            margin-left: 5vw;
            box-sizing: border-box; float: left;
            box-shadow: 2px 2px 2px #555;
        }
        div{width: 51vw; height: 45vw; 
            margin-top: 2vw;
            margin-right: 3vw;
            padding: 4vw 3vw;
            box-sizing: border-box; float: right;
            overflow: hidden;
            p{width: 100%; height: 100%; 
              text-indent: 1em; overflow: scroll; font-size: 1.2em;
              padding-right: 1000px; padding-bottom: 1000px; color: $brown01;
            }
        }
    }// #history
    #mission{width: 100%; height: 42vw;
        background-color: rgba($brown01, 0.8);
        transition: all 0.5s ease-in;
        h4{width: 30vw; height: 15vw; display: block;
           margin: 0 auto;
           padding-top: 8vw; padding-bottom: 2vw;
           border-bottom: 1vw solid $beige; 
           box-sizing: border-box;
           text-align: center; line-height: 5vw;
           color: #fff; font-weight: bold;
           font-size: 1.5em; 
        }// h4
        div{width: calc(100% - 4vw); height: 23vw; 
            margin-top: 2vw;
            padding: 4vw 2vw;
            box-sizing: border-box; float: right;
            overflow: hidden;
            p{width: 100%; height: 100%; 
              text-indent: 1em; overflow: scroll; font-size: 1.2em;
              padding-right: 1000px; padding-bottom: 1000px; color: #fff;
            }
        }
    }// #mission
    #news{width: calc(100% - 4vw); height: 70vw; 
        padding: 0 2vw; position: relative;
        background-color: rgba(#fff, 0.5);
        h4{width: 30vw; height: 15vw; display: block;
           margin: 0 auto;
           padding-top: 8vw; padding-bottom: 2vw;
           border-bottom: 1vw solid $brown02; 
           box-sizing: border-box;
           text-align: center; line-height: 5vw;
           color: $brown01; font-weight: bold;
           font-size: 1.5em; 
        }// h4
        #news_01{width: 32%; height: 50vw;
                 margin-top: 2vw;
                 margin-right: 1.5%;
                 padding: 4vw 0; box-sizing: border-box;
                 float: left;
            img{width: 100%; display: block;
            box-shadow: 2px 2px 2px #555;}
            p{width: 100%; height: auto; 
            margin: 20.5px 0; text-align: center;}
            p:first-of-type{font-size: 1.5em; font-weight: bold; color: $brown01;
            border-bottom: 1px solid $brown02;
            }
            p:last-of-type{font-size: 1.7vw; font-weight: normal; color: $brown02;}
        }// #news_01
        #news_02{width: 32%; height: 50vw;
                 margin-top: 2vw;
                 margin-right: 1.5%;
                 padding: 4vw 0; box-sizing: border-box; 
                 float: left;
            img{width: 100%; display: block;
            box-shadow: 2px 2px 2px #555;}
            p{width: 100%; height: auto; 
            margin: 20px 0; text-align: center;}
            p:first-of-type{font-size: 1.5em; font-weight: bold; color: $brown01;
            border-bottom: 1px solid $brown02;
            }
            p:last-of-type{font-size: 1.7vw; font-weight: normal; color: $brown02;}
        }// #news_02
        #news_03{width: 32%; height: 50vw;
                 margin-top: 2vw;
                 padding: 4vw 0; box-sizing: border-box; 
                 float: left;
            img{width: 100%; display: block;
            box-shadow: 2px 2px 2px #555;}
            p{width: 100%; height: auto; 
            margin: 20px 0; text-align: center;}
            p:first-of-type{font-size: 1.5em; font-weight: bold; color: $brown01;
            border-bottom: 1px solid $brown02;
            }
            p:last-of-type{font-size: 1.7vw; font-weight: normal; color: $brown02;}
        }// #news_03
    }// #news
    #top{opacity: 0;
         width: 7vw; height: 7vw; 
         z-index: 500;
         border-radius: 10px;
         box-sizing: border-box;
         border: 2px solid #fff;
         background-color: rgba($brown01,0.4);
         position: fixed; bottom: 0; right: 0;
         >a{width: 100%; height: 100%; display: block;
             >i{width: 100%; height: 100%; display: block;
                color: #fff; font-size: 3.5vw; 
                text-align: center; line-height: 6.2vw;
                animation: top linear 1.5s 1.5s infinite;
                position: absolute; z-index: 510;}
        }
    }
    @keyframes top {
        0% {bottom: -20px; transform: scale(0.5); opacity: 0;}
        100% {bottom: 0; transform: scale(1); opacity: 1;}
    }
    #top.top_button{opacity:1;}
    #top.top_fix{opacity:1; position: absolute; bottom: 0;}
    #webFoot{
        width: 100%; height: 20vw; min-height: 200px;
        background-color: #555;
        >#footBox{width: 93.75vw; max-width: 960px;
            min-width: 768px; 
            height: 100%; margin: 0 auto;
            padding-top: 20px; box-sizing: border-box;
        >#adressBox{width: calc(38% - 2vw); height: 100%; float: left;
            margin-left: 2vw;
            h2{width: 100%; height: 7vw; float: left;
               padding: 0.5vw 1vw 1vw; box-sizing: border-box;
               a{width: 100%; height: 100%; display: block;
                  background-repeat: no-repeat;
                  background-position: left center;
                  background-size: contain;
                  background-image: url("../img/index/header/Logo_tab.png");}
            }// h2
            address{width: 100%; height: 4vw; float: left; color: #fff; font-size: 1.3vw;}
            p{width: 100%; height: 2vw; float: left;
              color: #fff; font-size: 1.3vw;}
        }// #adressBox
        >#sns{width: 60%; height: 8vw; float: right;
              padding: 1vw; box-sizing: border-box;
              text-align: center;
            ul{width: 30vw; height: 100%; margin: 0 auto;
                li{width: 5vw; height: 5vw;
                   margin-left: 2vw; 
                   float: left;
                   font-weight: bold; font-size: 5vw;
                   text-align: center; 
                   line-height: 7vw;
                    &:last-of-type{margin-right: 2vw;}
                    a{width: 100%; height: 100%; display: block; color: #fff;}
                }// li
            }// ul
        }// #sns
        >#footMenu{width: calc(60% - 4vw); height: 10vw; 
            margin: 0 2vw; float: right;
            border-top: 1px solid #fff;
            ul{width: 100%; height: 100%; margin: 0 auto;
               padding-top: 1vw;
                li{width: calc(100% / 3); height: 3vw; float: left;
                    a{width: 100%; height: 100%; display: block; 
                        span{width: 100%; height: 100%; display: block; 
                             font-size: 1.6vw; font-weight: bold;
                             text-indent: 3vw;
                             text-align: left; line-height: 3vw; color: #fff;}
                    }// a
                }// li
            }// ul
        }// #footMenu
     }// #footBox
    }// #webFoot
}// pc

